{{> head}}
    {{> top}}
    <main class="page page--search">
         <div class="hero {{@config.custom.widthHero}} search-page">
            <header>
               <h1>
                  {{ translate 'search.title' }}
               </h1>	
            </header>
             {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                 <figure class="hero__image">
                    <img
                          src="{{@config.custom.uploadHero}}"
                          {{#if @config.site.responsiveImages}}
                             {{responsiveImageAttributes @config.custom.uploadHero}}
                          {{/if}}
                          {{ lazyload "eager" }}
                          {{imageDimensions @config.custom.uploadHero}}
                          alt="{{@config.custom.uploadHeroAlt}}">

                       {{#if @config.custom.uploadHeroCaption}}
                          <figcaption>
                             {{@config.custom.uploadHeroCaption}}
                          </figcaption>
                       {{/if}}
                 </figure>
             {{/checkIfAll}}  
		</div> 
		<div class="wrapper">
			{{{@customSearchContent}}}  
		</div>
    </main>

    {{> footer}}
