{{!
	Theme created by TidyCustoms based on Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 & MIT license (html5up.net/license)
}}

   <footer id="copyright">
       {{{@config.custom.copyrightText}}}
    </footer>
</div>

<script  src="{{js "jquery.min.js"}}"></script>
<script  src="{{js "jquery.scrollex.min.js"}}"></script>
<script  src="{{js "jquery.scrolly.min.js"}}"></script>
<script  src="{{js "browser.min.js"}}"></script>
<script  src="{{js "breakpoints.min.js"}}"></script>
<script  src="{{js "util.min.js"}}"></script>
<script  src="{{js "main.min.js"}}"></script>

{{#if @config.site.mediaLazyLoad}}
   <script>/*<![CDATA[*/var images=document.querySelectorAll("img[loading]");for(var i=0;i<images.length;i++){if(images[i].complete){images[i].classList.add("is-loaded")}else{images[i].addEventListener("load",function(){this.classList.add("is-loaded")},false)}};/*]]>*/</script>
{{/if}}
{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}
{{#checkIf @config.custom.frontSource '==' "post"}}
   {{#checkIf @config.custom.frontGallery '==' true}}
      {{#is "index"}}
          {{> photoswipe}}
      {{/is}}
   {{/checkIf}}
{{/checkIf}}
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
