{{!
	Theme created by TidyCustoms based on Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 & MIT license (html5up.net/license)
}}
{{> head}}
{{> top}}
<main id="main">
   <article class="post">        
         <header class="major">
               <p class="date">{{ translate 'error.message-1' }}</p>
               <h1>{{ translate 'error.404' }}</h1>  
               <p class="post__inner">{{ translate 'error.message-2' }}</p>           
         </header>
         
         <ul class="actions special">
            <li>
               <a href="{{@website.url}}" class="button">{{ translate 'error.button' }}</a>
            </li>
         </ul>       
   </article>
</main>
{{> footer}}
